{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium Grondboringen omvat terminologie mbt het boren in of bemonsteren van de grond.</p>
<p>Het specialiseert daartoe termen van het <a href="https://data.vlaanderen.be/ns/sensoren-en-bemonstering/">vocabularium Sensoren en Bemonstering</a>. </p>
<p>Het gaat oa over Grondboring, Boorgat en Grondmonster als speciaal geval van resp Bemonstering, RuimtelijkBemonsteringsobject en Monster.</p>
<p>Boormerthode en Boor worden ook gedefinieerd en kenmerken van de Grondboring (bvb boorder en boormeester of WettelijkKader) of eigenschappen van het Boorgat zoals bekisting en diameter.</p>
{% endblock %}
