{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium Observaties en Metingen bevat de terminologie nodig om Observaties te beschrijven.</p>
<p>Het grootste deel is externe terminologie gebaseerd op <a href=https://www.iso.org/standard/32574.html>ISO 19156:2011 Observations & Measurements</a>.</p>
{% endblock %}
