{% extends "voc2.j2" %}

{% block summary %}
<p>Het vocabularium Ruimtelijke Bereiken omvat terminologie om de geografische spreiding van een fenomeen te beschrijven. Alle teremen zijn afkomstig uit <a href="https://www.iso.org/standard/40121.html">ISO 19103</a> Geographic information — Schema for coverage geometry and functions.</p>
<p>Het gaat hier om fenomenen die geen constante als waarde op (bvb kleur) opleveren, maar variatie van een waarde in functie van een andere parameter (bvb de lengte ve treinspoor in functie vd temperatuur). Bij variatie in ruimte of tijd spreken we van een Bereik. </p>
<p>We beperken het vocabularium hier tot ruimtelijke Geometrie en werkten bovendien enkel het geval van PuntBereiken en CurveBereiken uit. Ook modelleren we enkel DiscreteBereiken, ttz een bereik waarvoor de waarden enkel gekend zijn voor een eindige set van geometrieën en bvb niet voor elk punt in het beschouwde gebied zoals het geval bij een ContinueBereik. Bvb bij remote sensing wordt de variatie weergegeven voor een eindige set van pixels, waarbij de waarde , bvb de reflectiegraad, constant is binnen elke pixel.</p>
<p>DiscreetPuntBereik en DiscreetCurveBereik zijn de centrale klassen, met resp PuntWaardepaar en CurveWaardepaar als datatypes.</p>
{% endblock %}
